h7 {
  font-size: 50px;
  
  margin-left: 5%;
  color: #5b5b5b;

}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  padding: 0;
}
h6 {
  font-size: 40px;
  color: #5b5b5b;

}

h2 {
  margin-left: 5%;
  color: #5b5b5b;
}

h1 {
  
  color: #5b5b5b;
}

h4{
  color: #5b5b5b;
  font-size: 22px;
  margin-left: 5%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.li{
  list-style-type: none !important;
}
.navbar-item{
  list-style-type: none !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  color: #5b5b5b;
  border-radius: 25px;
  
}

td {
  border: 1px solid #5b5b5b;
  text-align: left;
  padding: 8px;
  background-color: #c6e4e7;
  
  
  
}
th {
  border: 2px solid #5b5b5b;
  text-align: left;
  padding: 8px;
  background-color: #A6D4D9;
  
  
  
}
.centerTable{
  margin-left: 5%;
}


.topnav {
  overflow: hidden;
  background-color: #f8e5f0;
}

.topnav a {
  float: left;
  color: #707070  ;
  text-align: bottom;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
}

.button_2 {
  top: 3%;
  left: 90%;
  background-color: #A6D4D9;
  border: 2px solid rgb(254, 251, 251);
  color: white !important;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  
  cursor: pointer;
  width: 75px;
  line-height: 40px;
  position: absolute;
 
}
.button_3 {
  top:  3%;
  left: 82%;
  background-color: #A6D4D9;
  border: 2px solid rgb(254, 251, 251);
  color: white !important;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  
  cursor: pointer;
  width: 110px;
  line-height: 40px;
  position: absolute;
 
}
.button{
  top: 4%;
  left:90%;
  background-color: #A6D4D9;
  border: 2px solid rgb(250, 249, 249);
  color: white !important;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
  width: 75px;
  line-height: 10px;
  position: absolute;
 
}

.button0{
  background-color: #A6D4D9;
  border: 2px solid rgb(250, 249, 249);
  color: #5b5b5b !important;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 5%;
  cursor: pointer;
  line-height: 30px;
  width: 150px;
  position: relative;
 
}

.pstyle{
 
  margin-left: 1%;
  color: #5b5b5b;
  line-height: 60px;
}

.inputStyle{
  border: 1px solid #A6D4D9;
  
}
.inputStyle2{
  border: 1px solid #A6D4D9;  
  width: 150px;
  height: 35px;
  margin-left: 5%;
  
}
.inputStyle3{
  border: 1px solid #A6D4D9;  
  width: 500px;
  height: 35px;
  margin-left: 5%;
  
}


.splitscreen{
  display: flex;
  border-color: #A6D4D9;
}

.splitscreen .left{
  flex: 1;
  margin-left: 5%;

}
.splitscreen .right{
  flex: 1;
  margin-right: 20%;
}

.grid{
  border: 1px solid #A6D4D9;
  background-color:#A6D4D9 ;
  display: inline-grid;
  margin-left: 5%;
  width: 600px;
  height: 300px;
  border-radius: 12px;
}

.grid2{
  border: 1px solid #A6D4D9;
  background-color:#A6D4D9 ;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 550px;
  border-radius: 12px;
}

.alert{
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 20px;
  width: 550px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.success{
  padding: 15px;
  background-color: #17e74b; /* Red */
  color: white;
  margin-bottom: 20px;
  width: 550px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

